Header{
    text-align: center;
}

/* Navigation */

#Navigation{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: #888;
}

#Navigation li{
    flex-grow: 1;
    text-align: center;
    list-style: none;
    transition: 0.2s;
    background-color: #ccc;
}

#Navigation li:hover{
    background-color: #ddd;
}

#Navigation #CurrentPage{
    background-color: #eee;
}

/* Classes */
#ClassList{
    background-color: #ccc;
}

#ClassList li{
    background-color: #ccc;
    transition: 0.2s;
}

#ClassList li:hover{
    background-color: #ddd;
}

ul li {
    list-style: none;
}